.meta-data-card__container {
  display: flex;
  flex-direction: column;
}

.meta-data-card__accordion {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
}

.meta-data-card__accordion-summary {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.meta-data-card__header {
  font-weight: bold;
}

.meta-data-card__accordion-details {
  display: flex;
  align-items: center;
}

.meta-data-card__accordion-details > p {
  margin: 0;
  padding: 10px;
}