.card {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 600px;
  position: relative;
  transform-style: preserve-3d;
  background-color: transparent;
}

.card .face,
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
  transform: perspective(800px) rotateY(0deg);
}

.flip .face.front {
  transform: perspective(800px) rotateY(180deg);
}

.card .face.back {
  color: #fff;
  transform: perspective(800px) rotateY(180deg);
}

.flip .face.back {
  transform: perspective(800px) rotateY(360deg);
}

.validation_points_section {
  margin-top: 100px;
  font-size: 30px;
  color: rgb(65, 65, 65);
}

.validation_points_header {
  text-align: center;
}

.validation_points_section .validation_points_container {
  margin-top: 30px;
  background-color: transparent;
}

.validation_point {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

  transition: all ease-in-out 0.3s;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.valid_point_header_false {
  background-color: rgb(185, 0, 0);
}

.valid_point_header_true {
  background-color: rgb(47, 124, 22);
}
.valid_point_header_false,
.valid_point_header_true {
  width: 100%;
  min-height: 130px;
  padding: 5px;
  color: #fff;
  text-align: center;
}
.divider {
  margin: 10px 0px !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 1200px !important;
  height: 60vh;
  width: 1000px !important;
}

.tree_item_content {
  display: flex;
  background-color: rgb(211, 211, 211);
  margin-bottom: 10px;
}

.tree_item_key {
  background-color: rgb(0, 109, 142);
  color: #fff;
  margin-right: 20px;
  width: 100px;
  text-align: center;
  padding: 10px 5px;
  overflow-wrap: break-word;
}

.tree_item_value {
  padding: 10px 0px;
}

.metaData {
  width: 100%;
}

.metaData_body {
  height: 315px;
}

.metaData .metaData_header {
  text-align: center;
  color: rgb(116, 116, 116);
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

.metaData .metaData_content {
  display: flex;
  background-color: rgb(211, 211, 211);
  margin-bottom: 10px;
}

.metaData .metaData_content .metaData_key {
  background-color: rgb(0, 109, 142);
  color: #fff;
  margin-right: 20px;
  width: 100px;
  overflow-wrap: break-word;
  font-size: 18px;
  text-align: center;
  padding: 10px 5px;
}

.metaData .metaData_content .metaData_value {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.validation_point .buttons .results_btn,
.metaData_btn {
  margin: 0;
  width: 30%;
  height: 50px;
  padding: 13px 23px;
  background-color: rgb(0, 109, 142);
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.validation_point .results_btn:hover,
.metaData_btn:hover {
  background-color: rgb(15, 81, 157);
}

.MuiTreeItem-label {
  color: black;
  font-size: 18px !important;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s ease-in-out both;
  animation: scale-up-center 0.4s ease-in-out both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
