.validation_points_section {
  margin-top: 100px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.validation_points_header {
  text-align: center;
}

.validation_points_section .validation_points_container {
  margin-top: 30px;
}

.validation_point {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
  transition: all ease-in-out 0.3s;
}

.validation_point:hover {
  box-shadow: 0px 20px 20px 0px rgba(207, 207, 208, 0.2);
}

.validation_point .results_btn {
  margin: auto;
  padding: 13px 23px;
  background-color: rgb(3, 16, 31);
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.validation_point .results_btn:hover {
  background-color: rgb(15, 81, 157);
}

.divider {
  margin: 10px 0px !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 1200px !important;
  height: 60vh;
  width: 1000px !important;
}

.MuiTreeItem-label {
  color: black;
  font-size: 18px !important;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s ease-in-out both;
  animation: scale-up-center 0.4s ease-in-out both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
