.validation_points_section {
  margin-top: 100px;
  font-size: 30px;
  color: rgb(116, 116, 116);
}

.validation_points_header {
  text-align: center;
}

.validation_points_section .validation_points_container {
  margin-top: 30px;
}

.validation_point {
  position: relative;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
  transition: all ease-in-out 0.3s;
}

.validation_point:hover {
  box-shadow: 0px 20px 20px 0px rgba(207, 207, 208, 0.2);
}

.validation_point .results_btn {
  margin: auto;
  padding: 13px 23px;
  background-color: rgb(0, 109, 142);
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.validation_point .results_btn:hover {
  background-color: rgb(15, 81, 157);
}

.valid_point_header_false{
  background-color: rgb(185, 0, 0);
}

.valid_point_header_true{
  background-color: rgb(47,124,22);
}
.valid_point_header_false, .valid_point_header_true{
  min-height: 130px;
  padding: 5px;
  color: #fff;
  text-align: center;
}
.divider {
  margin: 10px 0px !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 1200px !important;
  height: 60vh;
  width: 1000px !important;
}

.tree_item_content{
  display: flex;
  background-color: rgb(211, 211, 211);
  margin-bottom: 10px;

}

.tree_item_key{
  background-color: rgb(0, 109, 142) ;
  color: #fff;
  margin-right: 20px;
  width: 100px;
  text-align: center;
  padding: 10px 5px;
}

.tree_item_value{
  padding: 10px 0px;
}

.MuiTreeItem-label {
  color: black;
  font-size: 18px !important;
}

.tree_item:hover{
  background-color: transparent !important;
}


.scale-up-center {
  -webkit-animation: scale-up-center 0.4s ease-in-out both;
  animation: scale-up-center 0.4s ease-in-out both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
