.NestHeader
{
  font-size:20px;
  color: #ffffff;
  font-family:'Courier New', Courier, monospace;
  border-bottom: 5px solid #1b201c;
  background-color: #161616;
  /* margin:auto; */
  margin-bottom:30px;
  text-align: center;
  /* margin-top:10px ; */
  padding:10px;
}