.NestHeader
{
  font-size:20px;
  color: #ffffff;
  font-family:'Courier New', Courier, monospace;
  border-bottom: 5px solid var(--body_background);
  background-color: var(--table_color);
  /* margin:auto; */
  margin-bottom:0px;
  text-align: center;
  /* margin-top:10px ; */
  padding:10px;
}