.table-container {
  margin: 16px;
  border-radius: 16px;
  overflow: hidden;
}

.table-container .tableHeadCell,
.table-container .tableHeadCell button {
  padding-left: 0;
}

.table-container .tableCell {
  font-weight: 800;
  font-size: 0.95rem;
  color: #666666;
  padding-left: 0;
}

.even-row {
  background-color: #ffffff;
}

.odd-row {
  background-color: #e6e6e6;
}

.tss-1akey0g-MUIDataTableHeadCell-data {
  font-family: "Segoe UI";
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold !important;
  color: #fff;
}

.MuiTableCell-head {
  margin: auto;
  background-color: rgb(0, 109, 142) !important;
}

.meta-data-card__container {
  display: flex;
  flex-wrap: wrap;
}

.tss-bd2lw8-MUIDataTableHeadCell-sortActive {
  color: #d6d6d6 !important;
}

.meta-data-card__accordion {
  flex-basis: calc(33.33% - 16px);
  margin-right: 16px;
  margin-bottom: 16px;
}

@media (max-width: 960px) {
  .meta-data-card__accordion {
    flex-basis: calc(50% - 16px);
  }
}

@media (max-width: 600px) {
  .meta-data-card__accordion {
    flex-basis: 100%;
    margin-right: 0;
  }
}

.success-class {
  background-color: rgb(232, 248, 232);
  color: rgb(172, 244, 174);
  border-radius: 50px;
  padding: 10px 0px 10px 0px;
  font-size: 3em !important;
  margin-left: 20px;
}

.failed-class {
  background-color: rgb(245, 135, 142);
  color: rgb(216, 47, 45);
  border-radius: 50px;
  padding: 10px 0px 10px 0px;
  font-size: 3em !important;
  margin-left: 20px;
}
