.table-container {
  margin: 16px;
  border-radius: 16px;
  overflow: hidden;
}

.even-row {
  background-color: #f5f4f4;
}

.odd-row {
  background-color: #e6e6e6;
}

.MuiTableCell-root {
  padding: 8px;
  margin: auto;
  /* border-radius: 5px; */
}

/* .MuiTableHead-root {
  background-color: #f0f0f0 !important;
  font-weight: bold;
  font-size: 50px;
} */
.tss-1akey0g-MUIDataTableHeadCell-data {
  font-family:'Segoe UI';
  font-size: larger;
  font-weight: bold !important;
  color: #fff;
}

.MuiTableCell-head {
  /* padding-left: 20px !important; */
  margin:auto;
  background-color: rgb(1, 13, 26) !important;
}

.MuiTableSortLabel-root {
  color: #000000;
}

.MuiTableSortLabel-active {
  color: #000000;
}

.MuiTablePagination-root {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.MuiTablePagination-caption {
  font-size: 14px;
}

.MuiTablePagination-selectRoot {
  margin-left: 16px;
}

.MuiTablePagination-actions {
  margin-left: 16px;
}

.MuiTableRow-root.Mui-expanded {
  background-color: #f5f5f5;
}

.meta-data-card__container {
  display: flex;
  flex-wrap: wrap;
}

.meta-data-card__accordion {
  flex-basis: calc(33.33% - 16px);
  margin-right: 16px;
  margin-bottom: 16px;
}

@media (max-width: 960px) {
  .meta-data-card__accordion {
    flex-basis: calc(50% - 16px);
  }
}

@media (max-width: 600px) {
  .meta-data-card__accordion {
    flex-basis: 100%;
    margin-right: 0;
  }
}


.success-class {
  background-color: rgb(210, 235, 211);
  color: rgb(2, 0, 0);
  border-radius: 50px;
  padding: 10px 0px 10px 0px;
  font-size: 3em !important;
}

.failed-class {
  background-color: rgb(1, 13, 26);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 10px 0px 10px 0px;
  font-size: 3em !important;
}
