.table-container {
  margin: 16px;
  border-radius: 16px;
  overflow: hidden;
}
.table-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

table {
  flex: 1;
  overflow: auto;
}
.even-row {
  background-color: #f5f4f0;
}

.odd-row {
  background-color: #ffffff;
}

.MuiTableHead-root {
  background-color: #110f0f !important;
  font-weight: bold;
}
.MuiTableCell-root {
  padding: 8px;
}
.MuiTableHead-root th {
  border-bottom: 2px solid black;
}

.MuiTableSortLabel-root {
  color: #000000;
}

.MuiTableSortLabel-active {
  color: #000000;
}

.MuiTablePagination-root {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.MuiTablePagination-caption {
  font-size: 14px;
}

.MuiTablePagination-selectRoot {
  margin-left: 16px;
}

.MuiTablePagination-actions {
  margin-left: 16px;
}

.MuiTableRow-root.Mui-expanded {
  background-color: #f5f5f5;
}

.meta-data-card__container {
  display: flex;
  flex-wrap: wrap;
}

.meta-data-card__accordion {
  flex-basis: calc(33.33% - 16px);
  margin-right: 16px;
  margin-bottom: 16px;
}

@media (max-width: 960px) {
  .meta-data-card__accordion {
    flex-basis: calc(50% - 16px);
  }
}

@media (max-width: 600px) {
  .meta-data-card__accordion {
    flex-basis: 100%;
    margin-right: 0;
  }
}


.success-class {
  background-color: rgb(210, 235, 211);
  color: rgb(27, 120, 30);
  border-radius: 50px;
  padding: 10px 0px 10px 0px;
  font-size: 3em !important;
}

.failed-class {
  background-color: rgb(245, 208, 205);
  color: rgb(233, 64, 52);
  border-radius: 50px;
  padding: 10px 0px 10px 0px;
  font-size: 3em !important;
}
