.WelcomeContainer {
  height: 100vh;
  width: 100%;
}

.Welcome {
  background-color: #f8f8f8;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Welcome .WelcomeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Welcome .WelcomeBody h1 {
  font-size: 3em;
  color: #333;
  margin-bottom: 0.5em;
}

.Welcome .WelcomeBody p {
  font-size: 1.5em;
  color: #666;
  margin-top: 0;
}

.Welcome .WelcomeBody .CustomLinkWelcome {
  text-decoration: none;
}

.Welcome .WelcomeBody .CustomLinkWelcome .WelcomeBtn {
  background-color: rgb(0, 109, 142);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.WelcomeForm {
  margin-bottom: 20px;
  background-color: #63636365;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FormButton {
  margin-left: 20px;
  padding: 10px 20px;
  width: 150px;
  background-color: rgb(0, 109, 142);
  border: none;
  outline: none;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.Welcome .WelcomeBody .CustomLinkWelcome .WelcomeBtn:hover,
.FormButton:hover {
  background-color: #005fa3;
}

.FormLabel {
  font-weight: 800;
  font-size: 18px;
  margin-right: 10px;
}
