:root
{
  --body_background:#1f1e1e;
  --body_color:#0C0C0C;
  --table_color:#111111;
}

[data-theme = "light"]
{
  --body_background:#c7c7c7;
  --body_color:#006D8E;
  --table_color:#08607B;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: var(--body_background);
}





