.tableContainer {
  margin: 16px;
  border-radius: 16px;
  overflow: hidden;
}

.tableContainer .tableHeadCell {
  padding-left: 20px;
  width: 150px;
}
.tableContainer .tableHeadCell button {
  padding-left: 0;
}

.tableContainer .tableCell {
  font-weight: 800;
  font-size: 0.95rem;
  color: #555555;
  text-align: left;
  padding-left: 10px;
  width: 150px;
}

.tableContainer .ownerCell {
  color: rgb(8, 96, 123);
}

.evenRow {
  background-color: #ffffff;
}

.oddRow {
  background-color: #e6e6e6;
}

.tss-1akey0g-MUIDataTableHeadCell-data {
  font-family: "Segoe UI";
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold !important;
  color: #fff;
}

.MuiTableCell-head {
  margin: auto;
  background-color: rgb(0, 109, 142) !important;
}

.tss-bd2lw8-MUIDataTableHeadCell-sortActive {
  color: #d6d6d6 !important;
}

.css-ubpweo-MuiPaper-root-MuiPopover-paper {
  padding: 10px;
}

.success-class {
  background-color: rgb(6, 157, 6);
  color: rgb(218, 218, 218);
  border-radius: 50px;
  padding: 10px 0px 10px 0px;
  font-size: 3em !important;
  margin-left: 20px;
}

.failed-class {
  background-color: rgb(184, 0, 12);
  color: rgb(218, 218, 218);
  border-radius: 50px;
  padding: 10px 0px 10px 0px;
  font-size: 3em !important;
  margin-left: 20px;
}

.pass {
  background-color: rgba(6, 214, 6, 0.27);
  padding: 5px 20px 7px 20px;
  border-radius: 20px;
  color: rgb(4, 130, 42);
  text-align: center;
}

.fail {
  background-color: rgba(228, 20, 20, 0.271);
  padding: 5px 25px 7px 25px;
  border-radius: 20px;
  color: rgb(153, 0, 0);
}
